*{
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  justify-content: center;
}

button {
  display: flex;
  align-items: center;

  line-height: 0;
  gap: .4rem;
}

button img {
  width: 2rem;
  height: 2rem;
}