<!DOCTYPE html>

<%- include('../partials/head') %>
<body class="container">
  <%- include('../partials/header', {pagina: 'sobre'}) %>
  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt neque voluptatem enim ipsum ut ratione asperiores, quod sapiente in dolor soluta maiores odit possimus magni expedita fuga provident incidunt similique.</p>
    </div>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>